@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
}
.body {
  font-size: 15px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  background-image: url(./images/bg-pattern-top-desktop.svg),
    url(./images/bg-pattern-bottom-desktop.svg);
  background-position: top left, right bottom;
  background-repeat: no-repeat, no-repeat;
}

/* css for upper half content */
.upper-half {
  display: flex;
  color: var(--very-dark-magenta);
  width: 80%;
  font-family: 'Spartan', sans-serif;
}
.text {
  width: 45%;
}
.text h1 {
  font-weight: 700;
  color: var(--very-dark-magenta);
  font-size: 2.8rem;
  line-height: 3rem;
}
.text p {
  margin-top: 4.5%;
  font-weight: 400;
  line-height: 1.5rem;
  margin-right: 20%;
}

/* css for stars and reviews */
.reviews {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.review {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--light-grayish-magenta);
  font-weight: 700;
  padding: 2.5%;
  border-radius: 4%;
  margin: 1rem 0 0.5rem 0;
  width: 85%;
}
.stars img {
  margin-right: 0.25rem;
}
.rating-1 {
  align-self: flex-start;
}
.rating-2 {
  align-self: center;
}
.rating-3 {
  align-self: flex-end;
}

/* Lower half css */
.lower-half {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-family: 'Spartan', 'sans-serif';
}
.card {
  background-color: var(--very-dark-magenta);
  color: var(--white);
  border-radius: 0.7rem;
  padding: 2.5rem 2.2rem;
  margin-right: 2%;
  height: 70%;
}
.author {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.author img {
  border-radius: 50%;
  width: 50px;
}
.author-details {
  margin-left: 5%;
  line-height: 1.4rem;
}
.name {
  font-weight: 700;
}
.title {
  color: var(--soft-pink);
  font-weight: 400;
}
.content {
  font-weight: 500;
  line-height: 1.6rem;
}
.card-1 {
  margin-bottom: 3rem;
  align-self: flex-start;
}
.card-2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  /* align-self: center; */
}
.card-3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 425px) {
  .upper-half,
  .lower-half {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .lower-half {
    margin-top: 4%;
  }
  .text,
  .reviews {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text h1 {
    width: 100%;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 25%;
  }
  .text p {
    width: 85%;
    margin: 1.75rem;
    align-self: center;
  }
  .reviews {
    padding: 0.75rem 1rem;
  }
  .review {
    margin: 0.5rem 0;
    flex-direction: column;
    padding: 1.2rem 0rem;
    width: 95%;
    align-self: center;
    font-size: 0.9rem;
  }
  .review h3 {
    margin-top: 0.7rem;
  }
  .lower-half {
    display: flex;
  }
  .card {
    width: 90%;
    height: 70%;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    margin-right: 0;
    margin-top: 0;
    align-self: center;
  }
}
